/* 6 dálka grid -  Mobile up 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.col-2 .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  padding: 1rem;
}

.col-2 .image-container figure {
  margin: 0; 
}

.col-2 .image-container img {
  max-width: 100%;
  max-height: 100%; 
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 20rem) {}

@media screen and (min-width: 30rem) {}

@media screen and (min-width: 37.5rem) {
  .col-2,
  .col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 48rem) {
  .col-1,
  .col-2,
  .col-4 
  .col-3,
  .col-5,
  .col-6 {
    gap: 1rem;
    row-gap: 1rem;
  }
  .col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .rammi div:last-child {
    margin-bottom: 0;  /* ath */
  }
}

/* Larger than tablet */
@media screen and (min-width: 60rem) {
  .container {
    max-width: 60em;
    margin: 0 auto;
    padding: 0;
  }
  .col-1,
  .col-2,
  .col-4,
  .col-3,
  .col-5,
  .col-6 {
    gap: 2rem;
    margin-bottom: 2rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 80rem) {
  .container {
    max-width: 80em;
  }
}

